dist
dist-newstyle
.stack-work
.HTF
\#*#
*~
*~[0-9*]
*.lkshs
*.lkshw
*/*.lkshs
*/*.lkshw
**/*.o
**/*.hi
stack.yaml.lock
tasks.json
unused.txt
*.autosave*
cabal.project.local
ideaHaskellLib
out
testForLitTextdist
*.aux
*.idx
*.log
*.out
*.synctex.gz

